:root {
  --iris: #4d5ae5;
  --navy-blue: #2e2f42;
  --ocean: #404bbf;
  --slate: #434455;
  --light_slate: #8e8f99;
  --corn_flower: #e7e9fc;
  --cloud: #f4f4fd;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}

html,
body {
  width: 1440px;
  background-color: #ffffff;
  color: var(--slate);
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
/* --------HEADER SECTION----------- */

.header-section {
  width: 1440px;
  height: 72px;
  background-color: #ffffff;
  border-bottom: 1px solid var(--corn_flower);
}

/* HEADER LOGO */
.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-style: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--iris);
  text-transform: uppercase;
  margin-right: 76px;
}

.header-logo-span {
  color: var(--navy-blue);
}

/* NAV LINKS */

.nav-link {
  color: var(--navy-blue);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  border: 1px solid red;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--ocean);
}

/* ADDRESS LINKS */
.nav-link-address {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: var(--slate);
  border: 1px solid blue;
}

.nav-link-address:hover,
.nav-link-address:focus {
  color: var(--ocean);
}

/* POSITIONING */
.navbar {
  display: flex;
  border: 1px solid black;
}
.nav-menu-list {
  display: flex;
  gap: 24px 40px;
}
.nav-address-list {
  display: flex;
  gap: 24px 40px;
  margin-left: 332px;
}

.header-section .container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid green;
  height: inherit;
}

/* ----------------HEADER SECTION END --------------- */

/* ------------COVER SECTION------------- */
.cover-section {
  width: 1440px;
  height: 600px;
  background-color: var(--navy-blue);
  padding: 188px 0;
}
.cover-section .container {
  border: 1px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cover-section-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 48px;
  max-width: 496px;
}

.cover-section-button {
  background-color: var(--iris);
  color: white;
  font-weight: 500;
  border: none;
  border-radius: 4%;
  text-align: center;
  line-height: 1.5;
  padding: 12px 24px;
}
/* ----------FEATURES SECTION---------- */

.features-section {
  height: 344px;
  border: 1px solid darkorchid;
}

.features-list {
  display: flex;
  gap: 24px;
}

.features-section .container {
  border: 1px solid darkblue;
  padding: 120px 0;
}
.features-title {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
  margin-bottom: 8px;
}

.visibly-hidden {
  visibility: hidden;
}

/* -----------------------team section----------------- */
.team-section {
  background-color: var(--corn_flower);
  padding: 120px 0;
}

.team-section .container {
  border: 1px solid blueviolet;
}
.team-header {
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-card {
  background-color: #fff;

  box-shadow: 0px 2px 1px 0px #2e2f4214;

  box-shadow: 0px 1px 1px 0px #2e2f4229;

  box-shadow: 0px 1px 6px 0px #2e2f4214;
}

.team-card-info {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  gap: 8px;
  text-align: center;
  margin: 32px 16px;
}

/* -------------PORTFOLIO SECTION------------- */
.portfolio-section {
  border-width: 1px, 1px, 1px, 1px;

  border-style: solid;

  border-color: #e7e9fc;
  padding: 120px 0;
}

.portfolio-header {
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  column-gap: 24px;
  row-gap: 48px;
  flex-wrap: wrap;
}

.portfolio-card {
  background-color: #ffffff;
}

.portfolio-card-info {
  padding: 32px 16px;
  border-top: 0;
  border-right: 1px;
  border-bottom: 1px;
  border-left: 1px;
  border-style: solid;

  border-color: #e7e9fc;
}

.heading-3 {
  margin-bottom: 8px;
}

/* -------------footer section------------ */

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--iris);
  letter-spacing: 0.03em;
  line-height: 1.17;
  font-style: 18px;
  margin-bottom: 16px;
}

.footer-logo-span {
  color: var(--cloud);
}
footer .container {
  display: flex;
  flex-direction: column;
}
footer {
  background-color: var(--navy-blue);
  padding: 100px 0;
}

.footer-description {
  display: inline-block;
  max-width: 264px;
  color: var(--cloud);
}
